*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;

}
.cabecera {
    background-color: rgb(11, 59, 32);
    color: aliceblue;
    padding: 10px 0;
    margin-bottom: 20PX;
}

.contenedor-cabecera {
min-width: 1200px;
margin: 0 auto;
padding: 0 20px;
display: flex;
justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 80px;
}
.logo img{
    height: 160;
    display: block;
}
    
